.container {
    margin: 1em auto;
    padding: 0.4em;
    width: 60%;
    border: 1px solid salmon;
  }
  
  .sub {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .deleteBtn {
    color: red;
  }
  .deleteBtn:hover {
    cursor: pointer;
  }